@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 1.6rem;
    margin: 0, auto;
    margin-top: 30px;
}

main{
    display: flex;
    justify-content: center;
}

header  {
    font-size: 5rem;
    font-family:'MyFont', 'Courier New', Courier, monospace;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3d2e0;
}

.occupied  {
    background-color: grey;
}

.occupied:hover {
    cursor: pointer;
}

.locked-occupied    {
    background-color: rgb(97, 96, 96);
}

.placement-hover    {
    background-color: green;
}

.no-placement-hover {
    background-color: red;
}

.gameboard  {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px solid black;
    height: 400px;
    width: 400px;
}

#computer-gameboard .square:hover {
    cursor: pointer;
}

#playing-screen   {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#end-modal   {
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(218, 214, 207);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.button {
    font-size: 2rem;
    color: white;
    background-color: rgb(63, 60, 60);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.button:hover   {
    cursor: pointer;
    transform: scale(1.05);
}

.missed-shot    {
    background-color: rgb(164, 199, 164) !important;
    pointer-events: none;
}

.hit-shot   {
    background-color: rgb(192, 113, 113) !important;
}

.disableCursor {
    pointer-events: none;
}

@media only screen and (max-width: 400px) {
    .gameboard  {
        display: grid;
        grid-template: repeat(10, 1fr) / repeat(10, 1fr);
        border: 1px solid black;
        height: 300px;
        width: 300px;
    }
    #playing-screen   {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
  }