@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
}

.gameboard  {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px solid black;
    height: 400px;
    width: 400px;
}

#starting-gameboard {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px solid black;
    height: 400px;
    width: 400px;
}

#computer-gameboard .square:hover {
    cursor: pointer;
}


//  Modal 
#start-screen    {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(218, 214, 207);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

#playing-screen   {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



#end-modal   {
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(218, 214, 207);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}


//  Button Elements
.starting-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#start-screen-buttons   {
    display: flex;
    gap: 30px;
}

.button {
    font-size: 2rem;
    color: white;
    background-color: rgb(63, 60, 60);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.button:hover   {
    cursor: pointer;
    transform: scale(1.05);
}

.ship   {
    position: absolute;
    background-color: grey;
    z-index: 99;
    box-shadow: inset 0 0 2px black;
}

.ship:hover{
    cursor: pointer;
}

#carrier    {
    width: 200px;
    height: 40px;
}

#battleship   {
    width: 160px;
    height: 40px;
}

#destroyer   {
    width: 120px;
    height: 40px;
}

#submarine   {
    width: 120px;
    height: 40px;
}

#patrolboat   {
    width: 80px;
    height: 40px;
}

.missed-shot    {
    background-color: rgb(164, 199, 164) !important;
}

.hit-shot   {
    background-color: rgb(192, 113, 113) !important;
}

.disableCursor {
    pointer-events: none;
}
