@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
}

.gameboard  {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px solid black;
    height: 400px;
    width: 400px;
}


//  Modal 

#start-modal    {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(218, 214, 207);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

#playing-modal   {
    display: none;
    gap: 30px;
}



#end-modal   {
    display: none;
}


//  Button Elements
.button {
    font-size: 2rem;
    color: white;
    background-color: rgb(63, 60, 60);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.button:hover   {
    cursor: pointer;
    transform: scale(1.05);
}

